<%- include('partials/headerOpen'); %>
<link rel="stylesheet" href="/css/home.css" />
<%- include('partials/headerClose'); %> <%- include('partials/navBar'); %>
<main>
  <div class="productDetail">
    <div class="productDetail__image">
      <img src="/<%= product.Imagens[0].urlImg %>" alt="<%= product.nome %>" />
    </div>
    <div class="productDetail__info">
      <h1 class="productDetail__info__name"><%= product.nome %></h1>
      <p class="productDetail__info__description"><%= product.descricao %></p>
      <p class="productDetail__info__price">R$ <%= product.preco %></p>
      <form action="/cart" method="POST">
        <input type="hidden" name="id" value="<%= product.codProd %>" />
        <input type="hidden" name="name" value="<%= product.nome %>" />
        <input type="hidden" name="price" value="<%= product.preco %>" />
        <input type="hidden" name="image" value="/<%= product.Imagens[0] %>" />
        <input type="hidden" name="quantity" value="1" />
        <button class="productDetail__info__button" type="submit">
          Adicionar ao carrinho
        </button>
      </form>
    </div>
  </div>
</main>
<%- include('partials/footer'); %>