<%- include('partials/headerOpen'); %>
<link rel="stylesheet" href="/css/home.css" />
<%- include('partials/headerClose'); %> <%- include('partials/navBar'); %>
<main>
  <div class="productDetail" id="codProd-<%= product.codProd %>">
    <div class="productDetailImage">
      <img src="/<%= product.Imagens[0].urlImg %>" alt="<%= product.nome %>" />
    </div>
    <div class="productDetailInfo">
      <h1 class="productDetailInfoName"><%= product.nome %></h1>
      <p class="productDetailInfoDescription"><%= product.descricao %></p>
      <p class="productDetailInfoPrice">R$ <%= product.preco %></p>
      <button class="compra">Comprar</button>
    </div>
  </div>
</main>
<script hidden>
  const buyButton = document.body.querySelector('.compra')
  buyButton.onclick = () => {
    fetch('/produto/compra/<%= product.codProd %>', { method: 'PATCH' }).then(res => {
      console.log(res.status)
      if (res.status === 200) {
        window.location.href = '/'
        alert('Compra realizada com sucesso!')
      } else {
        alert('Erro ao realizar compra!')
      }
    })
  }
</script>
<%- include('partials/footer'); %>